doctype html 
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Mag88
    meta(name="description" content="マークアップ練習")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="shortcut icon" href="../img/img_bookstore_favicon.ico")
  
body.bookStore
  header#header
    h1.main-title
      img(src=require("~/img/img_bookstore_logo.svg"), alt="Mag88")
  main 
    .MainContainer
      h2.section-title A special, long article in a newspaper or magazine
      p.sentence テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        br
        | テキストテキストテキストテキストテキストテキストテキストテキスト
      .flex-item
        a.Item(href="#")   
          img(src=require("~/img/img_bookstore_magazine-archive.jpg"), alt="Mag88")
          .ItemContent
            h2.item-title Archive 
            p.item-text テキストテキストテキストテキスト
               br
               | テキストテキストテキスト
        a.Item(href="#") 
          img(src=require("~/img/img_bookstore_magazine-new.jpg"), alt="Mag88")
          .ItemContent
            h2.item-title New 
            p.item-text  テキストテキストテキストテキスト
              br
              | テキストテキストテキスト
    .fashion-style 
      .MainContainer
        h2.section-title Fashion & Style
        p.sentence テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          br
          | テキストテキストテキストテキストテキストテキストテキストテキスト
        a.sentenceDetail(href="#") Read More
    
    .catalog-antique 
      .MainContainer 
        .flex-item 
         .item 
            img(src=require("~/img/img_bookstore_catalog.jpg"), alt="Mag88")
         .item 
            h2.item-title Catalog
            p.item-text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            p.item-text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            p.item-text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

    .catalog-antique 
      .MainContainer 
        .flex-item 
          .item 
            h2.item-title Antique
            p.item-text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            p.item-text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            a.sentenceDetail(href="#") Read More
          .item 
            img(src=require("~/img/img_bookstore_antique.jpg"), alt="Mag88")
  
  footer#footer 
    .MainContainer
      .flex-item 
        .item 
          img(src=require("~/img/img_bookstore_logo.svg"), alt="Mag88")
        .item 
          h2.footer-title タイトル
          ul 
            li テキストテキストテキスト
            li テキストテキストテキスト
            li テキストテキストテキスト
            li テキストテキストテキスト
            li テキストテキストテキスト
        .item 
          h2.footer-title タイトル
          p.footer-text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .copyright © Mag88