doctype html 
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Snerkers
    meta(name="description" content="マークアップ練習")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

body#media 
  header#header 
    h1.site_title 
      a(href="#") 
        img(src=("../img/img_media_logo.svg"), alt="Sneakers")
    nav#navi
      ul.nav_menu 
        li 
          a(href="#pickup") PICK UP
        li
          a(href="#feature") FEATURE
        li
          a(href="#contact") CONTACT
      ul.navi_snsMenu
        li
          a(href="https://twitter.com/" target="_blank") Twitter
        li
          a(href="https://www.facebook.com/" target="_blank") facebook
        li
          a(href="https://www.instagram.com/" target="_blank") instagram
    
    .navi_toggle
      div 
      div 
      div
    .shadow 
  
  main#main 
    .main_video
      video(src=("../video/video.mp4") loop autoplay muted playsinline) 

    section#pickup 
      h2.section_title PICK UP 
      ul.slick_area 
        li
          img(src=require("~/img/img_media_pickup1.jpg"))
        li
          img(src=require("~/img/img_media_pickup2.jpg"))
        li
          img(src=require("~/img/img_media_pickup3.jpg"))
        li
          img(src=require("~/img/img_media_pickup4.jpg"))
        li
          img(src=require("~/img/img_media_pickup5.jpg"))
        li
          img(src=require("~/img/img_media_pickup6.jpg"))
        li
          img(src=require("~/img/img_media_pickup7.jpg"))
        li
          img(src=require("~/img/img_media_pickup8.jpg"))
        li
          img(src=require("~/img/img_media_pickup9.jpg"))
    
    section#feature 
      h2.section_title FEATURE
      .grid 
        .grid_item
          img.scroll(src=require("~/img/img_media_feature1.jpg"))
          .grid_item_content
            p.grid_item_category category
            p.grid_item_text テキストテキストテキストテキストテキストテキストテキストテキスト
            p.grid_item_date XXXX.XX.XX
        .grid_item
          img.scroll(src=require("~/img/img_media_feature2.jpg"))
          .grid_item_content
            p.grid_item_category category
            p.grid_item_text テキストテキストテキストテキストテキストテキストテキストテキスト
            p.grid_item_date XXXX.XX.XX
        .grid_item
          img.scroll(src=require("~/img/img_media_feature3.jpg"))
          .grid_item_content
            p.grid_item_category category
            p.grid_item_text テキストテキストテキストテキストテキストテキストテキストテキスト
            p.grid_item_date XXXX.XX.XX
        .grid_item
          img.scroll(src=require("~/img/img_media_feature4.jpg"))
          .grid_item_content
            p.grid_item_category category
            p.grid_item_text テキストテキストテキストテキストテキストテキストテキストテキスト
            p.grid_item_date XXXX.XX.XX
        .grid_item
          img.scroll(src=require("~/img/img_media_feature5.jpg"))
          .grid_item_content
            p.grid_item_category category
            p.grid_item_text テキストテキストテキストテキストテキストテキストテキストテキスト
            p.grid_item_date XXXX.XX.XX
        .grid_item
          img.scroll(src=require("~/img/img_media_feature6.jpg"))
          .grid_item_content
            p.grid_item_category category
            p.grid_item_text テキストテキストテキストテキストテキストテキストテキストテキスト
            p.grid_item_date XXXX.XX.XX
        .grid_item
          img.scroll(src=require("~/img/img_media_feature7.jpg"))
          .grid_item_content
            p.grid_item_category category
            p.grid_item_text テキストテキストテキストテキストテキストテキストテキストテキスト
            p.grid_item_date XXXX.XX.XX
        .grid_item
          img.scroll(src=require("~/img/img_media_feature8.jpg"))
          .grid_item_content
            p.grid_item_category category
            p.grid_item_text テキストテキストテキストテキストテキストテキストテキストテキスト
            p.grid_item_date XXXX.XX.XX
        .grid_item
          img.scroll(src=require("~/img/img_media_feature9.jpg"))
          .grid_item_content
            p.grid_item_category category
            p.grid_item_text テキストテキストテキストテキストテキストテキストテキストテキスト
            p.grid_item_date XXXX.XX.XX

    section#contact
      h2.section_title CONTACT
      .contact_content 
        .content_info 
          p テキストテキストテキスト
          p テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト
          p テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .content_form 
          form(action="#")
            dl 
              dt 
                label(for="name") Name: 
              dd  
                input(type="text" id="name" name="your_name")
              dt 
                label(for="email") Mail: 
              dd 
                input(type="email" id="email" name="your_email")
              dt 
                label(for="message") Message: 
              dd 
                textarea(id="message" name="your_message")
            .button 
              input(type="submit" value="SEND")

  footer#footer
    p © Sneakers
        
